/* div {
  	/* display: flex;
    flex-direction: row;
    text-align: center;
    justify-content: space-evenly;
    flex-wrap: wrap;
    max-width: 30%; */
  /* float: left;
  width: 33.33%;
  align-items: center;
} */ 
    
    



.flex-container {
  /* display: flex; */
  /* height: 300px; */
  justify-content: center;
  align-items: center;
}
