.body {
    overflow: scroll;
}


nav a  {
	
    
    flex-direction: row;
    align-items: stretch;
    flex-wrap: wrap;
    display: block;
    flex-basis: 100%;
   
       
    
} 


h1,
p {
  /* border-bottom: 1px solid #ccc; */
  max-width: 1200px;
  margin: auto;
  
}


   .col-2 {
	 
    flex-direction: row-reverse; 
  
  

} 

.flex-container { 
  
  width: 50%; 
  margin: auto; 
  flex-wrap: wrap;
 
 flex-direction: column-reverse
  
} 

  .flex-column {
   flex-direction: column;
    flex-wrap: wrap;
    display: flex;
    width: 100%;
    margin: auto; 
   
}  

input[type="text"],
input[type="email"] {
  margin: auto; 
  width: 50%; 
 

} 


@media only screen and (min-width: 320px) and (max-width: 600px) {

 
.navigation {
  flex-direction: column;
  width: 100%; 
  margin: auto; 
  
}


.flex-column {
  width: 75%; 
}


input[type="text"],
input[type="email"] {
  margin: 10px; 
  width: 50%; 
 

}

}


@media only screen and (min-width: 800px) { 



 

/* h3 {
   margin: auto;
} */



 /* .card{
   flex-direction: row-reverse; 
    max-width: 25%;  
    margin: 40%;

 } */

   .col-2 {
	 flex-direction: column;
    display: flex;
    flex-wrap: wrap; 
    margin: 50px; 
    flex-basis: 50%;

} 

  .flex-column {
   flex-direction: row-reverse;
    flex-wrap: wrap;
    display: flex; 
     flex-basis: 75%;
     margin: auto; 
    
}

input[type="text"],
input[type="email"] {
  margin: 10px; 
  width: 50%; 
 

}

}
@media only screen and (min-width: 1200px) {


 .header nav {
    text-align: center; 
    margin: 5%;

 }


 .flex-row {
   margin: 20%; 
 }
.flex-container {
  float: left;
  /* width: 100%;  */
}


 
 /* #button-primary, 
 #food-img,
 #form-search {
     
  float: left; 

    
 }  */



input[type="text"],
input[type="email"] {
 
  margin: 10%; 
  max-width: 80%;
   
}

  
}